<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_tags %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Отклики на ваши объявления</h1>

       <form action="" method="get">
           {{ filterset.form.as_p }}
           <input type="submit" value="Найти" />
       </form>
        <hr>
    {% for response in responses %}
        {% if response.author == response.author %}
            <h4>{{ response.ads }}</h4>
            <p>{{ response.text}}</p>
            <a href="{% url 'response_delete' response.id %}">Delete 🗑</a>
            <hr>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}